/******************************************
    File Name: style.css
    Template Name: YourJob
    Created By: PSD Convert HTML Team
    Envato Profile: http://themeforest.net/user/psdconverthtml
    Website: https://psdconverthtml.com
    Version: 1.0
    Support: support@psdconverthtml.com
/******************************************

    1. IMPORT FILES
    2. IMPORT FONTS
    3. STARTUP
    4. FONTS
    5. HEADER
    6. MEGA MENU
    7. SECTIONS
    8. SERVICE BOXES
    9. PAGES
    10. SIDEBAR
    11. CONTACT
    12. WP CORE
    13. SUBMIT FORM
    14. FREELANCER
    15. SHOP
    16. JOBS
    17. TESTIMONIALS
    18. PRICING
    19. BLOG
    20. FOOTER
    21. SOCIAL
    22. MISC

/******************************************
    IMPORT FILES
******************************************/

@import url(./owl.carousel.css);
@import url(./font-awesome.css);
@import url(./open-iconic.min.css);

/******************************************
    IMPORT FONTS
******************************************/

@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'), url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.woff2') format('woff2'), url('fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'), url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'), url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinssemibold';
    src: url('fonts/poppins-semibold-webfont.woff2') format('woff2'), url('fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/******************************************
    STARTUP
******************************************/

html,
body {
    height: 100%;
}

body,
li,
p {
    color: grey;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

body.boxed {
    background: url(images/bg.png) repeat left center #fff;
}

body.boxed #wrapper {
    max-width: 1280px;
    margin: 40px auto;
    padding: 0;
}

body.boxed .stickyfooter {
    position: relative;
}

body.boxed .header {
    padding: 25px 0;
}

a {
    color: #18293b;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #18293b;
}

.btn {
    border-radius: 3px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.blog-desc .lead {
    margin-bottom: 10px;
}

.m120 {
    margin-top: 90px;
}


/******************************************
    FONTS
******************************************/

body,
li,
p {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal !important;
}

.cart-body .panel-info > .panel-heading,
.portfolio-filter li,
.readmore,
.nav-pills > li > a,
.dropdown-header,
.loadmorebutton .btn,
.with-text,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "poppinssemibold", sans-serif;
    font-weight: normal !important;
}

.page-title h1,
.section-title h4 {
    font-family: "poppinsbold", sans-serif;
}

.btn,
.pager a,
.contact-details li,
.item-price small a,
.customwidget li,
.pricing-price p,
.testimonials blockquote p,
.tooltip-inner,
.stickyfooter p,
.stickyfooter li,
.btn-primary,
.navbar-default .navbar-nav > li > a {
    font-family: "poppinsmedium", sans-serif;
    font-weight: normal !important;
}

.freelancer-list .badge,
.customform .btn-group-vertical > .btn,
.customform .btn-group > .btn,
.customform .form-control,
.submit-form .form-control,
.clients-name,
.blog-meta li a,
.lead,
small,
.home-title p,
.job-meta p,
.company-links li a,
.job-tab small {
    font-family: 'poppinslight';
    font-weight: normal !important;
}


/******************************************
    HEADER
******************************************/

.header {
    padding: 20px 0;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
    width: 100%;
}

.header .btn {
    padding: 10px 17px !important;
}

.navbar-default {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: 1;
    padding: 0 30px 0 15px;
}

.navbar-brand.with-text {
    color: #18293b !important;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    padding: 8px 30px 0 15px;
    text-transform: uppercase;
}

.navbar-nav,
.nav,
.navbar-default {
    margin-bottom: 0;
}

.navbar {
    margin-top: 8px;
}

.navbar-default .navbar-nav > li .btn {
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a {
    color: #203143;
    font-size: 14px;
    text-transform: none;
}

.navbar-nav > li > a {
    padding: 10px 12px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
}

li.dropdown.membermenu a.dropdown-toggle:focus,
li.dropdown.membermenu a.dropdown-toggle:hover,
li.dropdown.membermenu a.dropdown-toggle {
    background-color: #f3f6f9 !important;
    border-radius: 100px;
    color: #18293b !important;
    border: 1px solid #eaedf0;
    margin-top: 8px;
    margin-right: 20px;
    padding: 0 12px 0 0 !important;
}

li.dropdown.membermenu img {
    margin-right: 5px;
    width: 25px;
}

.dropdown-header {
    color: #18293b;
    display: block;
    background-color: transparent !important;
    font-size: 14px;
    line-height: 1.42857;
    padding: 10px 18px !important;
    text-transform: capitalize;
    white-space: nowrap;
}

.navbar-nav > li.dropdown.membermenu .dropdown-menu {
    margin-top: 40px !important;
    border-top: 0 !important;
    padding: 15px;
}

.navbar-nav > li.dropdown.membermenu {
    border: 0 !important;
}

.bootstrap-select .dropdown-menu > li > a:focus,
.bootstrap-select .dropdown-menu > li > a:hover,
.navbar-right .dropdown-menu > li > a:focus,
.navbar-right .dropdown-menu > li > a:hover {
    border: 0 !important;
    background-color: transparent;
}

.bootstrap-select .dropdown-menu > li > a,
.navbar-right .dropdown-menu > li > a {
    color: #67788a !important;
    font-size: 14px;
    padding: 0;
}

.navbar-right .dropdown-menu > li > a span {
    padding-right: 4px;
}

.bootstrap-select .dropdown-menu li:hover,
.navbar-right .dropdown-menu li:hover {
    background-color: #f3f6f9;
}

.bootstrap-select .dropdown-menu li,
.navbar-right .dropdown-menu > li {
    border: 0 !important;
    padding: 7px 20px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent !important;
}


/******************************************
    MEGA MENU
******************************************/

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .yamm-content {
    padding: 0;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.yamm .dropdown.yamm-half .dropdown-menu {
    left: auto;
    max-width: 620px;
}

.header .nav-tabs > li {
    width: 100%;
    display: block;
    cursor: pointer;
}

.yamm .fa-angle-right {
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.header .nav-tabs > li:hover .fa-angle-right {
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
}

.header .nav-tabs {
    padding-top: 25px !important;
    box-shadow: none !important;
    border: 0 !important;
}

.header .nav-tabs > li > a {
    cursor: pointer !important;
    border: 0 none !important;
    border-radius: 0;
    color: #203143;
    font-size: 14px;
    margin-bottom: 1px;
    margin-right: -1px;
    padding: 7px 30px;
    max-width: 100%;
    background-color: #ffffff;
    width: 100%;
    display: block;
}

.yamm-half .dropdown-menu {
    margin-top: 40px !important;
    background-color: #ffffff;
    border: 0;
    padding: 10px;
    box-shadow: none;
    border-radius: 0 3px 3px 0;
    padding: 30px;
    position: relative;
}

.yamm-half .dropdown-menu ul {
    padding: 0;
    list-style: none;
}

.yamm-half .tab-pane li a {
    color: #fff;
}

.yamm-half .tab-pane li {
    font-size: 13px;
}

.yamm-half .tab-pane li:hover a {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */
    color: #ffffff !important;
}

.yamm-half .tab-pane p {
    font-size: 12px;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.yamm-half .tab-pane hr {
    background-color: rgba(255, 255, 255, 0.1);
    height: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}

.yamm-half .tab-pane.firstcol {
    padding: 30px;
    margin: 0 -15px;
    background-color: #2c3e50;
}

.yamm-half .tab-pane.secondcol {
    padding: 30px;
    margin: 0 -15px;
    background-color: #c0392b;
}

.yamm-half .tab-pane.thirdcol {
    padding: 30px;
    margin: 0 -15px;
    background-color: #27ae60;
}

.yamm-half .tab-pane.firstcol hr {
    border-color: #1c2e40;
}

.yamm-half .tab-pane.secondcol hr {
    border-color: #b12a1c;
}

.yamm-half .tab-pane.thirdcol hr {
    border-color: #19a052;
}

.yamm-half .tab-pane.fivecol {
    padding: 30px;
    margin: 0 -15px;
    background-color: #f3f6f9;
}

h5.color1 {
    background-color: #2c3e50 !important;
}

.color1:hover a {
    color: #2c3e50 !important;
}

h5.color2 {
    background-color: #e74c3c !important;
}

.color2:hover a {
    color: #b12a1c !important;
}

h5.color3 {
    background-color: #19a052 !important;
}

.color3:hover a {
    color: #19a052 !important;
}

.navbar-right .dropdown-menu:after,
.yamm-half .dropdown-menu:after {
    bottom: 100%;
    left: 5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 7px;
    margin-left: -7px;
}

.navbar-right .dropdown-menu:after {
    left: 10%;
}

.header .nav-tabs,
.header .tabs-left > .nav-tabs > li.active a {
    background-color: #ffffff !important;
}


/******************************************
    SECTIONS
******************************************/

.parallax {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 90px 0;
    position: relative;
    width: 100%;
}

.parallax.parallax-off {
    background-attachment: scroll !important;
    display: block;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-position: top center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
}

.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.section {
    padding: 50px 0;
    display: block;
    z-index: 2;
    position: relative;
}

.section.wb {
    background-color: #ffffff;
}

.section.lb {
    background-color: #f3f6f9;
}

.hero {
    padding: 15em 0;
    background: url(upload/demo.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-title {
    padding: 30px 80px 30px 0;
}

.home-title.rightside {
    padding: 30px 0 30px 80px;
}

.home-title h3 {
    padding: 0;
    margin: 0 0 27px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
}

.home-title p {
    padding: 0;
    margin: 0 0 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    line-height: 30px;
}

.home-title .btn:hover,
.home-title .btn:focus,
.home-title .btn {
    padding: 13px 30px;
    border-radius: 3px;
    font-size: 14px;
    border: 2px solid #ededed;
    border-color: #ffffff !important;
    color: #ffffff;
    background-color: transparent !important;
}

.home-title .btn {
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.home-title.rightside .btn {
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.home-title .btn:hover {
    border-color: #ffffff !important;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.m20b {
    margin-bottom: 30px;
}

.section-title h4 {
    padding: 0 0 30px;
    display: block;
    position: relative;
    line-height: 1;
    font-size: 34px;
    margin: 0;
    text-transform: uppercase;
}

.about-widget h5 {
    padding: 0 0 20px;
    font-size: 21px;
}

.customlist {
    padding: 0;
    list-style: none;
}

.customlist li {
    margin-bottom: 10px;
}

.customlist li:last-child {
    margin-bottom: 0;
}

.customlist li:before {
    content: "\f00c";
    padding: 0 10px 0 0;
    font-family: FontAwesome;
}

.creativewidget .fa-briefcase {
    color: #0d1e30;
}

.creativewidget {
    padding: 60px;
    background-color: #ffffff;
}

.creativewidget p {
    padding: 0 0 20px;
    margin: 0;
}

.creativewidget i {
    font-size: 44px;
}

.creativewidget h4 {
    font-size: 21px;
    padding: 20px 0;
    margin: 0;
    line-height: 1;
}


/******************************************
    SERVICE BOXES
******************************************/

.service-tab {
    display: block;
    position: relative;
    padding: 0;
    background-color: #f3f6f9;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.service-tab:hover {
    -webkit-box-shadow: 0 13px 6px -6px #ededed;
    -moz-box-shadow: 0 13px 6px -6px #ededed;
    box-shadow: 0 13px 6px -6px #ededed;
}

.service-title {
    text-align: center;
    padding: 30px;
}

.service-title h4 {
    text-transform: uppercase;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.service-list p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.service-list .widget-title h3 {
    font-size: 18px;
}

.service-list hr {
    margin: 20px 0;
    width: 80px;
    border-width: 3px;
}

.service-list i {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    color: #18293b;
    margin-bottom: 10px;
    line-height: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: 32px;
}


/******************************************
    PAGES
******************************************/

.about-widget .widget-title hr {
    border-width: 2px;
    width: 100px;
    margin-left: 0;
}

.customfaqs .panel-default > .panel-heading {
    background-color: #ffffff;
    border: 0 none !important;
    padding: 20px;
    color: #0d1e30;
}

.notfound p {
    font-size: 21px;
    line-height: 36px;
    padding: 0 0;
}

.notfound .btn {
    font-size: 15px;
}

.notfound {
    text-align: center;
}

.notfound h2 {
    display: inline-block;
    font-size: 60px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.comments img {
    max-width: 80px;
    margin-right: 20px;
}

.comments .panel-body .comment {
    margin: 10px 0;
}

.comments .panel-body,
.comments .panel-info {
    padding: 0;
    box-shadow: none;
    border: 0;
}

.comments .text-success {
    color: #333333;
    margin-bottom: 5px;
    display: inline-block;
}

.comments .text-muted {
    color: #777;
    margin-left: 5px;
}

.comments .media-list li {
    background-color: #fff;
    border: 1px solid #eee;
    margin-bottom: 0px;
    padding: 20px;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.comments .media-list li:last-child {
    margin-bottom: 0;
}

.comments .media-list li p {
    margin: 0;
    padding: 0;
}

.comments .btn {
    display: inline-block;
    margin-top: 10px;
    font-size: 11px;
    padding: 3px 10px;
}

.commentform .btn {
    margin-top: 20px;
}

.commentform label {
    margin: 10px 0;
}

.pagination > li > a,
.pagination > li > span {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 0 !important;
    color: #18293b !important;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    margin-right: 5px;
    padding: 10px 16px;
    position: relative;
    text-decoration: none;
}

.single-content h4.small-title {
    border-bottom: 1px solid #e9ecef;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
}

.single-content h4.small-title .readmore {
    position: absolute;
    text-transform: capitalize;
    font-size: 14px;
    right: 0;
}

.recentworks .service-title {
    padding: 20px;
}

.recentworks .service-title h4 {
    font-size: 14px;
    text-transform: capitalize;
}

.single-content h5.small-title {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 20px;
}

.single-content p {
    margin-bottom: 20px;
    padding: 0;
}

.db {
    background-color: #0d1e30;
}

.page-title h1 {
    padding-top: 0;
    margin-top: 0;
    color: #ffffff !important;
    font-size: 80px;
}

.lb .page-title h1,
.wb .page-title h1 {
    color: #18293b !important
}

.lb .page-title h1 {
    font-size: 44px;
}

.lb .page-title .lead,
.wb .page-title .lead {
    color: gray !important
}

.page-title .lead {
    padding-bottom: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.8);
}

.page-title .social-small {
    margin-top: 25px;
}

.profile-image {
    max-width: 100px;
    margin: 0 auto 15px;
}

.nopadtop {
    padding-top: 0;
    z-index: 101;
}

.absolute-padding {
    position: relative;
    display: block;
    margin-top: -40px;
}

.authorbox h4 {
    font-size: 16px;
    font-weight: 700;
}

.authorbox .avatar-author {
    float: left;
    width: 80px;
    margin-top: 10px;
}

.authorlink {
    display: block;
    color: #999;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    margin-bottom: 5px;
}

.authorbox .desc {
    font-size: 12px;
    margin-left: 100px;
}

.authorbox .social-small {
    margin-bottom: 0;
}

.authorsocial {
    margin-top: 15px;
}

.authorbox p {
    padding: 5px 0;
    font-size: 14px;
    line-height: 26px;
}

.authorbox .rightside {
    padding-left: 30px;
    border-left: 1px solid #f9f9f9
}

.pager small {
    display: block;
    margin-top: 3px;
}

.pager img {
    margin-top: 0;
    max-width: 80px;
}

.pager {
    margin: 10px 0 0;
}

.pager a {
    font-size: 14px;
    line-height: 1;
}


/******************************************
    SIDEBAR
******************************************/

.nav-pills > li > a {
    font-size: 13px;
    padding: 10px 20px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: #4b5c6e !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li:hover a,
.nav-pills > li:focus a {
    background-color: transparent;
    color: #18293b;
}

.nav-pills > li > a span {
    padding-right: 10px;
}

.nav-pills > li:first-child {
    border-top: 1px solid #ededed;
}

.nav-pills > li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.sidebar .widget {
    display: block;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 30px;
}

.section.wb .sidebar .widget {}

#loginmodal .modal-content {
    margin: auto;
    padding: 15px;
    background-color: #f3f6f9;
}

.closebtn {
    background-color: #f3f6f9 !important;
    bottom: -33px;
    color: gray !important;
    display: block;
    float: none;
    font-size: 17px;
    height: 30px;
    opacity: 0.8 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
    text-shadow: none !important;
    width: 30px;
    z-index: 100;
}

.modal-content {
    position: relative;
}

#loginmodal .modal-content p {
    font-size: 13px;
    padding-top: 0;
    line-height: 1.8;
    margin-bottom: 0;
    margin-top: -5px;
}

#loginmodal .modal-content .btn-custom {
    font-size: 13px;
    padding: 7px 21px;
}

#loginmodal .content-title h4 {
    font-size: 16px;
    line-height: 1;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: capitalize;
}

.modal .post-padding {
    margin-bottom: 0;
}

#loginmodal .content-title i {
    padding-right: 7px;
}

.modal-body {
    padding: 0;
    box-shadow: none !important
}

.sidebar .submit-form .form-control {
    background-color: #192a3c;
    border-color: #00091b;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.4);
}

.modal-content {
    border-radius: 0 !important;
    border: 1px solid #ededed !important;
    box-shadow: none !important;
}

.modal-open .modal {
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal .form-control {
    margin-bottom: 20px;
}

.modal .submit-form .btn,
.sidebar .submit-form .btn {
    margin-top: 0 !important
}

.sidebar .submit-form .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

.sidebar .submit-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.sidebar .submit-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.sidebar .widget-title h4 {
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 0;
    text-transform: capitalize;
}

.content-title h4 {
    font-size: 20px;
    line-height: 38px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    text-transform: capitalize;
}

.content-title {
    margin-bottom: 30px;
}

.content-title hr {
    width: 60px;
    border-width: 2px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.sidebar .text-widget p {
    margin-top: -10px;
    margin-bottom: 0;
}

.sidebar .freelancer-wrap {
    padding: 20px;
}

.freelancer-wrap small a {
    color: gray
}

.freelancer-wrap .social-small {
    margin-top: 20px;
}

.sidebar .freelancer-wrap .list-inline > li {
    padding-right: 0;
}

.owl-job-widget .job-tab {
    padding: 20px;
    box-shadow: none !important;
}

.nopadlist .btn {
    text-transform: none !important;
    font-size: 12px !important;
}

.nopadlist .job-tab h3 {
    font-size: 15px !important
}

.nopadlist .job-tab {
    padding: 20px 0;
    box-shadow: none !important
}

.nopadlist .badge {
    font-size: 11px !important;
    margin-top: 0;
}

.nopadlist .job-tab:last-child {
    border-bottom: 0;
}

.owl-job-widget .post-media {
    position: relative;
}

.owl-job-widget .badge {
    position: absolute;
    top: 0px;
    left: 20px;
}

.job-big-meta {
    padding: 20px 20px 0;
    background-color: #ffffff;
}

.owl-job-widget .job-tab h3 {
    font-size: 15px;
    margin: 0;
    padding: 5px 0 5px;
}

.liststylepost .post-blog {
    padding-top: 0;
    text-align: left;
}

.liststylepost .post-blog h4 {
    padding: 5px 0 5px;
    line-height: 1.3;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.liststylepost .post-blog small {
    display: block;
    font-size: 12px;
    margin-top: 0px;
}

.liststylepost .post-blog li {
    margin-bottom: 20px;
    width: 100%;
    display: table;
}

.liststylepost .post-blog .blog-meta li {
    display: inline;
}

.liststylepost .post-blog li:last-child {
    margin-bottom: 0;
}

.liststylepost .post-blog img {
    max-width: 80px;
    margin: 0 15px 0 0;
}

.liststylepost .post-blog {
    margin: 0;
    padding: 0;
}

.liststylepost .post-blog .post {
    background-color: #ffffff;
    padding: 20px;
    display: block;
}

.check li:before {
    content: "\f178";
    font-family: "FontAwesome";
    font-size: 16px;
    left: 0;
    color: #212121;
    position: relative;
    top: 2px;
    padding-right: 10px;
}

.verification-list li,
.check li {
    font-size: 14px;
    list-style: none;
    margin-bottom: 10px;
}

.verification-list li i {
    padding-right: 5px;
}

.verification-list li.done {}

.verification-list,
.check {
    padding: 0;
    margin-left: 0;
}

.customwidget {
    padding: 40px 20px;
    background-color: #0d1e30;
}

.customwidget .content-title,
.customwidget .content-title h4 {
    color: #ffffff;
    padding-top: 0 !important;
    margin-top: 0 !important;
    line-height: 1;
}

.customwidget hr {
    background-color: #021325;
    border-color: rgba(255, 255, 255, 0.1);
    height: 2px;
    margin: 15px 0;
}

.customwidget .btn {
    font-size: 13px;
    margin-top: 15px;
}

.customwidget li {
    padding-left: 40px;
    color: rgba(255, 255, 255, 0.7);
}

.customwidget li:before {
    content: "\f00c";
}

.item-price span {
    color: #ffffff;
    display: block;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0 0 5px;
}

.item-price small {
    font-size: 13px !important;
    margin: 0 5px 0 0;
    text-transform: uppercase;
}

.item-price small a {
    color: #fff;
}

.small-detail h4 {
    font-size: 15px;
    padding: 0;
    margin: 0 0 10px;
    line-height: 1;
}

.small-detail small {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
}


/******************************************
    CONTACT
******************************************/

#message {
    display: none;
    padding: 20px;
    position: relative;
    text-align: left;
}

#map {
    height: 400px;
    position: relative;
    width: 100%;
    z-index: 1;
}

#map img {
    max-width: inherit;
}

.loader {
    margin-left: 10px;
}

.map {
    position: relative;
}

.map .row {
    position: relative;
}

.infobox img {
    width: 100% !important;
}

.map .searchmodule {
    padding: 18px 10px;
}

.infobox {
    display: block;
    margin: 0;
    padding: 0 0 10px;
    position: relative;
    width: 260px;
    z-index: 100;
}

.infobox .title {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.agent .readmore {
    display: block;
}

.agent .image img {
    border: 0 none !important;
    float: left;
    margin: -5px 20px 0 0;
    padding: 0 !important;
    width: 80px !important;
}

.contact-details {
    list-style: none;
    padding: 0;
}

.contact-details i {
    background-color: #ffffff;
    width: 30px;
    font-size: 11px;
    height: 30px;
    margin-right: 5px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
}

.contact-details li {
    font-size: 14px;
    margin-bottom: 15px;
}

.contact-details li:last-child {
    margin-bottom: 0;
}


/******************************************
    WP CORE
******************************************/

.first {
    clear: both
}

.last {
    margin-right: 0
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}

a img.alignnone {
    margin: 10px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/******************************************
    SUBMIT FORM
******************************************/

.sectionnr {
    padding: 60px 0;
    background-color: #ffffff;
    display: block;
    z-index: 2;
}

.nopadding .customform {
    padding: 40px 30px !important;
    border: 0 !important;
    background-color: #ffffff;
}

.nopadding .customform .btn {
    box-shadow: none !important
}

.nopadding {
    padding: 0;
}

.nopadbot {
    padding-bottom: 0;
}

.customform {
    border: 5px solid #233446;
    background-color: #1c2d3f;
    display: block;
    padding: 30px;
    position: relative;
    z-index: 3;
}

.customform .input-group-addon {
    background-color: #f3f6f9;
    border: 0 solid transparent;
    border-radius: 4px 0 0 4px;
    color: #656565;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 5px 6px 20px;
    text-align: center;
}

.loginform h4 {
    display: block;
    padding: 0 0 0 2px;
    margin-bottom: 20px;
}

.loginform.submit-form label {
    padding-left: 0 !important
}

.customform.loginform {
    border-color: #f3f6f9;
    background-color: #ffffff !important;
}

.customform.loginform .input-group {
    margin-bottom: 20px;
}

.customform.loginform .btn {
    height: 42px !important;
    margin-top: 0 !important;
    padding: 0 20px !important;
}

.customform .checkbox label::before {
    border: 1px solid #405163;
    background-color: #455668;
}

.customform .bs-searchbox .form-control {
    height: 40px !important;
}

.customform .input-group {
    width: 100%;
    min-width: 100%;
}

.customform i {
    font-size: 16px !important;
}

.customform .bootstrap-select > .dropdown-toggle {
    font-size: 13px !important;
}

.customform .form-control {
    font-size: 13px !important;
    border-radius: 0 4px 4px 0 !important;
    height: 50px !important;
    box-shadow: none !important;
    border: 0 !important;
    width: 100%;
}

.customform .btn {
    height: 50px !important;
}

.post-padding {
    background-color: #ffffff;
    padding: 30px;
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.listcheckbox ul {
    margin: 10px 0 0 !important;
    padding: 0 !important;
}

.listcheckbox li {
    padding: 0 15px 0 0 !important;
    margin-left: 20px !important;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0 !important;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #e74c3c !important;
    border-color: #e74c3c !important
}

.customform .checkbox label::before {
    background-color: #f3f6f9;
    border: 1px solid #ededed;
}

.listcheckbox .readmore {
    color: gray !important;
    text-transform: capitalize;
    padding-top: 20px;
    font-size: 13px;
    display: block;
}

.listcheckbox small {
    padding-left: 0 !important;
}

.submitform {
    padding: 0 !important;
    box-shadow: none !important;
}

.submitform.job-tab h3 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
}

.active-jobs .job-tab {
    padding: 20px 0;
    box-shadow: none !important;
}

.active-jobs .job-tab:last-child {
    border-bottom: 0 !important;
}

.submitform.job-tab h4 {
    padding: 10px 0;
}

.map_canvas {
    width: 100%;
    background-color: #f3f6f9 !important;
    border-color: #eceff2 !important;
    color: #656565 !important;
    float: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    position: relative;
    height: 200px;
    margin: 30px 20px 0 0;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-file {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    vertical-align: middle;
}

.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.fileupload {
    margin-bottom: 9px;
}

.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
}

.fileupload .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    background-color: #f3f6f9 !important;
    border-color: #eceff2 !important;
    color: #656565 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    position: relative;
}

.submit-form .dropdown-menu > .active > a,
.submit-form .dropdown-menu > .active > a:focus,
.submit-form .dropdown-menu > .active > a:hover {
    background-color: transparent !important;
    color: gray !important
}

.fileupload .thumbnail > img {
    max-height: 100%;
}

.fileupload .btn {
    vertical-align: bottom;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}

.fileupload-inline .fileupload-controls {
    display: inline;
}

.fileupload-new .input-group .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.fileupload-preview {
    background: #FFFFFF;
    border: 10px solid #F9F9F9;
    height: auto;
    width: 200px;
}

.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}

.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}


/*!
 * Bootstrap-select v1.7.2 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2015 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */

.bootstrap-select {
    width: 100% \0;
    /*IE9 and below*/
}

.bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}

.bootstrap-select.fit-width {
    width: auto !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
    z-index: auto;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: right;
}

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
    margin-bottom: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%;
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
    cursor: not-allowed;
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
    outline: none !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    z-index: 1035;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none !important;
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
    position: static;
    top: auto;
    margin-top: -1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
    z-index: 1036;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, 0.2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, 0.2);
    border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid white;
    border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
    display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
    padding: 4px 8px;
}

.bs-actionsbox {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
    width: 50%;
}

.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-donebutton .btn-group button {
    width: 100%;
}

.bs-searchbox + .bs-actionsbox {
    padding: 0 8px 4px;
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
}

select.bs-select-hidden,
select.selectpicker {
    display: none !important;
}

select.mobile-device {
    position: absolute !important;
    top: 0;
    left: 0;
    display: block !important;
    width: 100%;
    height: 100% !important;
    opacity: 0;
}


/*# sourceMappingURL=bootstrap-select.css.map */

.submit-form .btn-group-vertical > .btn,
.submit-form .btn-group > .btn {
    background-color: #f3f6f9 !important;
    border-color: #eceff2 !important;
    color: #656565 !important;
    float: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 40px;
    position: relative;
}

.submit-form label {
    color: #18293b;
}

.submit-form small {
    color: gray;
    padding-left: 10px;
}

.submit-form textarea {
    min-height: 140px !important;
}

.submit-form .form-control {
    background-color: #f3f6f9;
    background-image: none;
    border: 1px solid #eceff2;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #656565;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    width: 100%;
}

.submit-form .form-control::-moz-placeholder {
    color: #656565;
    opacity: 1;
}

.submit-form .form-control:-ms-input-placeholder {
    color: #656565;
}

.submit-form .form-control::-webkit-input-placeholder {
    color: #656565;
}

.submit-form hr {
    margin: 15px 0
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 19px;
    left: 0;
    top: 4px;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px;
}

.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
    background-color: #fff;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}


/******************************************
    FREELANCER
******************************************/

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f3f6f9;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

.table-striped .btn {
    margin: 10px 0 0;
    width: 26px;
}

.job-table .btn {
    margin: 0 0;
    width: 26px;
}

.job-table h4 {
    font-size: 15px;
}

.job-table small {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 11px !important;
    line-height: 1 !important
}

.portfolio .pitem {
    padding: 0 15px 30px;
    background-color: #ffffff;
}

.isotope-item {
    z-index: 2;
    padding: 0;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.portfolio-filter .tooltip-inner {
    padding: 7px 10px;
    min-width: 60px;
}

.item-h2,
.item-h1 {
    height: 100% !important;
    height: auto !important;
}

.pitem {}

.list-title {
    background-color: #ffffff;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #ededed;
}

.check-list small {
    position: absolute;
    right: 0;
    color: gray;
}

.check-list img {
    margin-top: 5px !important;
    max-width: 50px;
}

.withimage small {
    position: relative;
    display: block;
}

.withimage li {
    border: 0 !important;
    display: table;
    width: 100%;
}

.check-list {
    padding: 0;
    list-style: none;
}

.check-list li {
    position: relative;
    padding: 5px 0;
    border-bottom: 1px solid #e6e6e6;
}

.check-list li:last-child {
    border-bottom: 0 solid #e6e6e6;
}

.portfolio-filter ul {
    margin: 0 !important;
    padding: 0 0 10px;
    display: inline-block;
    border-bottom: 2px solid #ededed;
    background-color: #ffffff;
}

.portfolio-filter li {
    padding: 0 !important;
    margin: 0 10px !important;
    background-color: #ffffff;
}

.freelancer-wrap {
    position: relative;
    padding: 30px;
    background-color: #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.list-freelancer .freelancer-wrap {
    background-color: #ffffff;
    padding: 20px 10px;
}

.section.wb .freelancer-wrap {
    background-color: #f3f6f9;
}

.freelancer-wrap p {
    margin-bottom: 0;
}

.featured,
.freelancer-wrap .btn {
    position: absolute;
    top: 20px;
    border: 0;
    padding: 10px 15px 8px;
    border-radius: 0;
    right: -20px;
}

.featured {
    top: 16px;
    right: -4px;
}

.featured::before,
.freelancer-wrap .btn::before {
    border-color: #b01505 transparent transparent #b01505;
    border-style: solid;
    border-width: 5px 10px;
    right: 0;
    top: 100%;
}

.featured:before,
.featured:after,
.freelancer-wrap .btn::before,
.freelancer-wrap .btn::after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
}

.freelancer-wrap:hover {
    -webkit-box-shadow: 0 13px 6px -6px #ededed;
    -moz-box-shadow: 0 13px 6px -6px #ededed;
    box-shadow: 0 13px 6px -6px #ededed;
}

.freelancer-wrap h4 {
    padding: 10px 0 5px;
    margin: 0;
    font-size: 15px;
    line-height: 1;
}

.freelancer-wrap .rating {
    padding-bottom: 0;
}

.freelancer-list .col-md-6 {
    margin-bottom: 30px;
}

.freelancer-list .col-md-6:last-child {
    margin-bottom: 0;
}


/******************************************
    SHOP
******************************************/

.cart-body h4,
.cart-body h6 {
    font-size: 18px;
    margin: 25px 0 10px;
    padding: 0;
    text-transform: capitalize;
}

.cart-body .panel {
    border: 1px solid #ededed;
}

.cart-body .panel img {
    margin: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.cart-body .dropdown-menu > li > a {
    background-color: transparent !important;
}

.cart-body .btn {
    margin-top: 0;
}

.cart-body .btn-default:hover,
.cart-body .btn-default:focus,
.cart-body .btn-group.open .dropdown-toggle,
.cart-body .btn-default {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
    padding: 14px 20px !important;
}

.cart-body .panel-info > .panel-heading {
    background-color: #ffffff;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    font-size: 16px;
    color: #18293b;
    text-transform: capitalize;
}

.single-shop .job-tab {
    background-color: transparent;
}

.shop-wrap {
    margin-bottom: 30px;
    position: relative;
    padding: 0;
    border: 0 solid #edf0f3;
    background-color: white !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: none !important
}

.bg-wrap {
    padding: 10px 20px;
}

.ybg {
    background-color: #f39c12;
}

.bbg {
    background-color: #3498db;
}


/******************************************
    JOBS
******************************************/

.largeinvis {
    border: 0;
    margin: 60px 0;
}

.largeinvis1 {
    margin: 60px 0;
}

hr.invis {
    border-color: transparent;
}

.whoweare hr {
    margin: 20px 0;
    border-width: 2px;
    width: 60px;
}

.whoweare .about-widget {
    margin-top: 30px;
}

.whoweare p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.whoweare .about-widget h5 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.post-media img {
    width: 100%;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.post-media img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
}

.img-thumbnail {
    background-color: #f3f6f9;
    border: 1px solid #e9ecef;
}

.job-tab {
    display: none;
    position: relative;
    padding: 30px;
    background-color: #ffffff;
}

.job-tab:hover {
    -webkit-box-shadow: 0 13px 6px -6px #ededed;
    -moz-box-shadow: 0 13px 6px -6px #ededed;
    box-shadow: 0 13px 6px -6px #ededed;
}

.job-meta .btn {
    font-size: 13px;
    line-height: 1;
    padding: 6px;
    text-transform: capitalize;
}

.job-short-desc {
    padding: 20px 0 0;
}

.singlejobhr {
    margin: 60px 0 !important;
}

.single-job hr.invis {
    margin: 10px 0 !important;
}

.single-job .job-tab h4 {
    font-size: 18px;
    line-height: 1;
    margin: 4px 0 0;
    padding: 0 0 10px;
}

.single-job .img-thumbnail {
    margin-top: 4px;
    border: 0;
    padding: 0;
}

.single-job .job-tab {
    padding: 0 !important;
    box-shadow: none !important;
}

.single-job .job-meta p {
    padding: 3px 0 0;
}

.company-links {
    padding: 20px 0 0;
}

.company-links li {
    border-bottom: 1px solid #ededed;
    list-style: none;
    padding: 3px 0;
    font-size: 13px;
}

.company-links li i {
    margin-right: 5px;
}

.company-links li a {
    color: gray
}

.company-links li:first-child {
    border-top: 1px solid #ededed;
}

.job-listing .job-tab {
    border-bottom: 1px solid #e9ecef;
}

.all-jobs {
    position: relative;
}

.job-title {
    min-width: 150px;
    background-color: #ffffff;
    border-top: 3px solid #111;
    bottom: auto;
    left: -99px;
    padding: 5px 30px;
    position: absolute;
    text-align: center;
    top: 51px;
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.job-title.nocover {
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(0deg);
    top: -48px;
    left: 0;
}

.job-tab .job-title h5 {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.badge {
    margin-top: 20px;
    border-radius: 3px;
    padding: 4px 16px;
}

.yamm .badge {
    border-radius: 3px;
    margin-top: -4px;
    padding: 3px 8px;
    margin-left: 3px;
    font-size: 11px;
    font-weight: normal !important;
}

.job-tab h3 {
    font-size: 18px;
    padding: 13px 0 5px;
    margin: 0;
}

.job-tab h4 {
    padding: 20px 0 10px;
    margin: 10px 0 0;
    line-height: 1;
    font-size: 18px;
}

.job-tab small span {
    padding-right: 10px;
}

.job-meta p {
    padding: 35px 0 0;
    margin: 0;
    line-height: 1;
    color: #18293b;
    font-size: 21px;
}

.freelancer-list .job-meta p {
    padding: 10px 0 0;
}

.freelancer-list .fa-map-marker {
    color: #c9c9c9;
    margin-top: 20px;
    font-size: 24px;
}

.freelancer-list .badge {
    padding: 5px 18px;
    line-height: 1 !important;
    border: 1px solid #e9ecef !important;
    background-color: transparent !important;
    color: gray !important;
}

.loadmorebutton {
    margin-top: 30px;
    display: block;
    position: relative;
}

.loadmorebutton.margintop {
    margin-top: 0 !important;
}

.loadmorebutton .btn {
    line-height: 1;
    font-size: 15px;
    padding: 17px 50px !important;
}


/******************************************
    TESTIMOBIALS
******************************************/

.clients-name {
    font-size: 13px;
    font-style: normal;
}

.testimonials blockquote {
    position: relative;
    padding: 30px;
    border: 0;
    background-color: #0d1e30;
}

.reviewwrapper blockquote {
    background-color: #f3f6f9;
}

.reviewwrapper p {
    margin-bottom: 10px;
}

.reviewwrapper .testimonials blockquote p {
    color: gray
}

.reviewwrapper h4 {
    display: block;
    position: relative;
    margin-bottom: 5px;
}

.reviewwrapper .testimonials img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: 10px 0 0 0;
    position: relative;
    right: 0;
    width: 100%;
}

.testimonials blockquote p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    line-height: 24px;
    font-weight: normal !important;
}

.testimonials blockquote img {
    height: 60px;
    background-color: #0d1e30;
    width: 60px;
    position: absolute;
    border: 0 solid #0d1e30;
    bottom: -25px;
    padding: 0;
    right: 5%;
    margin-left: -30px;
}

.rating {
    padding: 0 0 13px;
}

.nomarginbot {
    padding-bottom: 0 !important;
}

.rating small {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
}

.rating i {
    font-size: 13px;
}

.fa-star {
    color: #ffd800;
}


/******************************************
    PRICING
******************************************/

.pricing-box {
    background-color: #fff;
    border: 1px solid #fff;
}

.pricing-box sub {
    font-size: 16px;
    vertical-align: super;
}

.pricing-box h3 {
    background-color: #1a2b3d;
    font-size: 16px;
    color: #ffffff !important;
    padding: 30px 0 !important;
    margin: 0 !important;
}

.pricing-box i {
    padding: 0 10px 0 0;
    vertical-align: middle;
}

.pricing-price p {
    background: #0d1e30;
    color: #fff;
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 40px 0;
}

.pricing-box .pricing-desc p {
    padding: 30px 20px;
    border: 1px solid #ededed;
    background-color: #ffffff;
    margin: 0;
    font-size: 15px;
}

.pricing-box .panel-body {
    border-left: 1px solid #ededed !important;
    border-right: 1px solid #ededed !important;
}

.pricing-box .panel-body p {
    font-size: 13px;
    line-height: 24px;
    padding: 0;
}

.pricing-footer {
    margin-top: 0;
    padding: 0;
    background: #ecf0f1;
}

.pricing-footer .btn {
    border-radius: 0;
    padding: 15px 30px;
}

.pricing-box .panel-group .panel-heading + .panel-collapse > .panel-body,
.pricing-box .panel-group .panel-heading + .panel-collapse > .list-group,
.pricing-box .panel-group .panel {
    border: 0 none;
    margin-bottom: 0;
}

.pricing-box .panel-group .panel-heading h4 {
    font-size: 14px;
    background-color: #ffffff;
    font-weight: 500;
    box-shadow: none !important;
    border-bottom: 0 solid #e9ecef;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    line-height: 1;
    margin: 0 !important;
    padding: 20px 0;
    text-transform: capitalize;
}

.pricing-box .panel-default > .panel-heading {
    background-color: #ecf0f1;
    border: 0 !important;
    line-height: 1;
    padding: 0;
    text-align: center;
}

.pricing-box .panel-default h4 {
    padding: 0;
}

.pricing-box .panel-group {
    margin-bottom: 0;
}


/******************************************
    BLOG
******************************************/

.blog-meta li {
    font-size: 13px;
    font-style: italic;
}

.blog-meta small {
    margin-top: 5px !important;
    display: block;
}

.blog-meta li a {
    color: gray;
    font-style: normal;
}

.readmore {
    text-transform: uppercase;
}

.blog-widget {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #e9ecef;
}

.blog-widget h5 {
    background-color: #f3f6f9;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    margin: 0;
    padding: 5px 20px;
}

.blog-widget h5.color1 a,
.blog-widget h5.color2 a,
.blog-widget h5.color3 a,
.blog-widget h5 a:hover,
.blog-widget h5 a:focus,
.blog-widget h5 a {
    color: #ffffff !important;
}

.blog-widget h4 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 25px 0 15px;
    position: relative;
    text-transform: uppercase;
}

.content .blog-widget .post-media {
    margin-bottom: 20px;
}

.content .blog-widget {
    margin-bottom: 30px;
}

blockquote {
    font-size: 15px;
    background-color: #f3f6f9;
    border: 0 none;
    margin: 20px auto !important;
    padding: 30px 40px !important;
}

.blog-desc .tags {
    margin-top: 20px;
}

.tags a {
    padding: 0px 13px;
    border: 1px solid #ededed;
    display: inline-block;
    margin: 0 0 5px 0;
    border-radius: 3px;
}

.blog-desc {
    padding: 20px;
}

.single-blog .blog-meta {
    margin-bottom: 10px;
}


/******************************************
    FOOTER
******************************************/

.flogo {
    margin-bottom: 20px;
}

#wrapper {
    padding-bottom: 11em;
}

.stickyfooter {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 80px 0 60px !important;
    left: 0;
    background: url(upload/fbg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sitefooter-wrap {
    text-transform: capitalize;
    padding: 40px 0;
}

#sitefooter {
    color: #fff;
    position: relative;
}

.link-widget ul {
    padding: 0 !important;
}

.link-widget li {
    list-style: none;
    font-size: 14px;
}

.footer {
    background-color: #0d1e30;
    padding: 90px 0;
}

.footer .check li {
    margin-bottom: 2px;
}

.footer .check li:before {
    display: none;
}

.mobileicons {
    margin-top: 30px;
}

.mobileicons img {
    max-width: 150px;
}

.footer .widget-title h4 {
    color: #ffffff;
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.stickyfooter p,
.stickyfooter li {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 !important;
}

.stickyfooter li:before {
    content: "|";
    color: rgba(255, 255, 255, 0.2);
    padding: 0 5px;
    margin: 0 5px 0 0
}

.stickyfooter li:first-child:before {
    content: "";
}

.stickyfooter a,
.stickyfooter p {
    color: rgba(255, 255, 255, 0.3);
}

.footer p,
.footer span,
.footer li a {
    color: rgba(255, 255, 255, 0.4);
}

.text-widget p {
    padding-bottom: 20px;
}


/******************************************
    SOCIAL
******************************************/

.dmtop {
    background-color: #3C3D41;
    z-index: 100;
    width: 50px;
    height: 50px;
    line-height: 47px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 50px;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.tooltip-inner {
    padding: 7px 10px;
    min-width: 120px;
}

.contactme {
    background-color: #fff;
    border-radius: 50%;
    color: #ffffff !important;
    text-align: center;
    position: fixed;
    left: 50px;
    transition: all 1s ease 0s;
    width: 75px;
    z-index: 100;
    box-shadow: -4.772px 8.878px 16px 0 rgba(29, 32, 34, 0.20);
    display: inline-block;
    height: 75px;
    line-height: 75px;
    bottom: -100px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.contactme a:hover,
.contactme a:focus,
.contactme a {
    position: relative;
    color: #ffffff !important;
    font-size: 26px;
}

.contactme img {
    bottom: -26px;
    border: 2px solid #fff;
    position: absolute;
    right: -24px;
    width: 30px;
}

.social-small li .fa {
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    display: block;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.social-small li {
    padding: 0;
    margin-right: 2px !important;
}

.post-sharing .btn {
    color: #ffffff !important;
    letter-spacing: 0 !important;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.social-small li:hover .fa,
.post-sharing .btn:hover,
.post-sharing .btn:focus {
    opacity: 0.9;
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
}

.post-sharing .btn .fa-twitter,
.post-sharing .btn .fa-facebook {
    padding-right: 5px;
    width: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 6px;
    text-align: center;
    display: inline-block;
}

.social-small li .fa-google-plus,
.gp-button.btn-primary:hover,
.gp-button.btn-primary:focus,
.gp-button.btn-primary {
    border-color: #DA5333 !important;
    background-color: #DA5333 !important;
}

.social-small li .fa-facebook,
.fb-button.btn-primary:focus,
.fb-button.btn-primary:hover,
.fb-button.btn-primary {
    background-color: #3B5998 !important;
    border-color: #3B5998 !important;
}

.social-small li .fa-twitter,
.tw-button.btn-primary:hover,
.tw-button.btn-primary:focus,
.tw-button.btn-primary {
    background-color: #00B6F1 !important;
    border-color: #00B6F1 !important;
}

.social-small li .fa-linkedin {
    background-color: #007bb5;
    border-color: #007bb5;
}

.social-small li .fa-pinterest {
    background-color: #cb2027;
    border-color: #cb2027;
}

.social-small li .fa-instagram {
    background-color: #125688;
    border-color: #125688;
}

.social-small li .fa-rss {
    background-color: #f36f24;
    border-color: #f36f24;
}

.rb {
    background: #e74c3c;
}

.stat-count {
    font-size: 54px;
    color: #bb2010;
    text-shadow: 0 2px 3px #ed7676;
    text-transform: uppercase;
}

.custom_fact_item h6 {
    color: #ffffff;
    font-size: 24px;
    color: #bb2010;
    text-shadow: 0 2px 3px #ed7676;
    text-transform: uppercase;
}

.custom_fact_name span {
    color: #bb2010;
}

/******************************************
    MISC
******************************************/

.cssload-container {
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #f3f6f9;
}

.cssload-loader {
    width: 39px;
    height: 39px;
    top: 47%;
    left: 0;
    right: 0;
    border-radius: 50%;
    margin: -20px auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
    animation: 1.15s infinite ease-in-out;
    -o-animation: 1.15s infinite ease-in-out;
    -ms-animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}

.cssload-loader:before,
.cssload-loader:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
    content: "";
}

.cssload-loader:before {
    border: 1px solid #c84133;
    top: -1px;
    left: -1px;
    opacity: 0;
    animation-name: cssload-pulse;
    -o-animation-name: cssload-pulse;
    -ms-animation-name: cssload-pulse;
    -webkit-animation-name: cssload-pulse;
    -moz-animation-name: cssload-pulse;
}

.cssload-loader:after {
    background-color: #c84133;
    animation-name: cssload-pulse-2;
    -o-animation-name: cssload-pulse-2;
    -ms-animation-name: cssload-pulse-2;
    -webkit-animation-name: cssload-pulse-2;
    -moz-animation-name: cssload-pulse-2;
}

@keyframes cssload-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@-o-keyframes cssload-pulse {
    0% {
        -o-transform: scale(1);
        opacity: 1;
    }
    50% {
        -o-transform: scale(1.3);
        opacity: 0;
    }
    100% {
        -o-transform: scale(1.3);
        opacity: 0;
    }
}

@-ms-keyframes cssload-pulse {
    0% {
        -ms-transform: scale(1);
        opacity: 1;
    }
    50% {
        -ms-transform: scale(1.3);
        opacity: 0;
    }
    100% {
        -ms-transform: scale(1.3);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-pulse {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes cssload-pulse {
    0% {
        -moz-transform: scale(1);
        opacity: 1;
    }
    50% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes cssload-pulse-2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@-o-keyframes cssload-pulse-2 {
    0% {
        -o-transform: scale(1);
    }
    50% {
        -o-transform: scale(0.7);
    }
    100% {
        -o-transform: scale(1);
    }
}

@-ms-keyframes cssload-pulse-2 {
    0% {
        -ms-transform: scale(1);
    }
    50% {
        -ms-transform: scale(0.7);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes cssload-pulse-2 {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.7);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cssload-pulse-2 {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(0.7);
    }
    100% {
        -moz-transform: scale(1);
    }
}